.img-logo {
    width: 100px;
    
}

@-webkit-keyframes miAnimacion{
    0%{
        transform: rotateZ(5deg);
    }
    25%{
        transform: rotateZ(-5deg);
    }

    50%{
        transform: rotateZ(5deg);
    }
    75%{
        transform: rotateZ(-5deg);
    }
    100%{
        transform: rotateZ(5deg);
    }
}

.img-logo:hover{
    animation: miAnimacion;
    animation-duration: 0.2s;
    cursor: pointer;
}



@media (max-width: 576px) {
    .redes-sociales{
        margin: 3% auto;
        float: right;
    }

    .img-container{
        text-align: center;
    }
}

@media (min-width: 577px){
    .redes-sociales {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%);
    }
}